.body{
    background-color: #011523;
}

.film{
  width:800px;
  height: 500px;
background-color: #3a4e6757;
border-radius: 24px;
margin-bottom: 30px;
margin-top:100px;
margin-left:100px;
}

.img_la_foret{
  margin-top:50px;
  margin-left: 50px;
}
.laforet{
  margin-top: -400px;

}
.bouton{
  margin-top:-75px;
  margin-left:150px;
}
.bande_annonce{
  margin-top:400px;
  border-radius:5px ;
  margin-left:110px ;

}
.laforet{
  border-radius:5px;
  height:300px;
}
.title{
  margin-top:-370px;
margin-left:320px;
  color:#fff;

}
.trait{
  width:200px;
margin-left:320px;
margin-top:2px;
border-bottom: 1px solid #0a2f5a;
}

.tweet{
  margin-top: -610px;
  margin-left:900px;
}

.resume{
  margin-left:320px;
  width:400px;
  margin-top:10px;
}

.etoile{
  margin-left:320px;
margin-top: -200px;
}

.stars{
  color:#f9cf22;
}
.commentaire{
  width:500px;
  margin-left:100px;
  margin-bottom:40px;

}
input[type="button"]{
  margin-left:20px;
  margin-top:5px;
  width:200px;
  background-color:#f9cf22;
}

.form{
  width:500px;
}

input[type="submit"]{
  margin-left:290px;
  background-color:#f9cf22;
  color:#fff;
}
label{
  color:#f9cf22;
}
.vedette{
  margin-top:-480px;
  margin-left:920px;
}
.bord{
  margin-left:920px;
  border-radius:5px;
}
.bord_3{
  margin-left:920px;
  border-radius:5px;
}
.bord_2{
  margin-top:-250px;
  margin-left:1100px;
  border-radius:5px;
}
.td{
  border-radius:10px;
}
